---
import MainLayout from "../layouts/MainLayout.astro";
import Banner from "../components/Banner.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Louise Standal Geers">
  <section class="text-center mt-16 pb-36">
    <h1>Louise Standal Geers</h1>
    <h2>Digitalt design</h2>
  </section>
  <section class="md:grid grid-cols-2">
    <article>
      <Image src={thumbsup} alt="" />
    </article>
    <article>
      <p class="prose text-[#B80000]">
        Hei! Jeg heter Louise og jeg studerer multimediedesign på Københavns
        Erhvervsakademi på tredje semester. Innenfor multimediedesignfaget er
        jeg primært interessert i UX og UI- design, men jeg er også glad i å
        kode prosjekter og lære meg nye kodebiblioteker og språk. I forveien har
        jeg alltid vært glad i å tegne og lage illustrasjoner, som er grunnen
        til at jeg begynte å interessere meg for digitalt design. Jeg jobber
        først og fremst i Figma og VS Code, men er også godt kjent med
        Adobeprogrammer.
      </p>
    </article>
  </section>
  <Banner text="Ferdigheter" />
  <section>
    <p>Kode - HTML, CSS, JavaScript, Astro & Tailwind.css</p>
    <p>Figma</p>
    <p>Adobe - Photoshop, Illustrator, InDesign</p>
  </section>
  <Banner text="Prosjekter" />
  <section>
    <p>Colada archive</p>
    <p>1 semester spill</p>
    <p>Girl talk</p>
  </section>
  <Banner text="Kontakt meg" />
  <section id="contact">
    <p
      class="font-baskerville text-lg lowercase border-b border-red-800 py-4 box-sizing: border-box"
    >
      <a
        href="https://www.linkedin.com/in/louise-standal-geers-a84a45289/"
        class="no-underline hover:italic"
        target="_blank">LinkedIn</a
      >
    </p>
    <p class="font-baskerville text-lg lowercase border-b border-red-800 py-4">
      <a
        href="https://dribbble.com/louisegeers"
        class="no-underline hover:italic"
        target="_blank">Dribbble</a
      >
    </p>
    <p class="font-baskerville text-lg lowercase border-b border-red-800 py-4">
      <a
        href="https://www.instagram.com/louisesgeers/"
        class="no-underline hover:italic"
        target="_blank">Instagram</a
      >
    </p>
    <p class="font-baskerville text-lg lowercase border-b border-red-800 py-4">
      <a
        href="https://github.com/louisesg1"
        class="no-underline hover:italic"
        target="_blank">Github</a
      >
    </p>
    <p class="font-baskerville text-lg lowercase border-b border-red-800 py-4">
      <a
        class="no-underline hover:italic"
        href="mailto:louisesgeers@outlook.com"
        >Epost - louisesgeers@outlook.com</a
      >
    </p>
  </section>
</MainLayout>
