---
import MainLayout from "../layouts/MainLayout.astro";
import Banner from "../components/Banner.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Titel">
  <section class="text-center pt-6 pb-48">
    <h1>Louise Standal Geers</h1>
    <h2>Digital design</h2>
  </section>
  <Banner text="About" />
  <section>
    <p class="line-clamp-5">
      My name is Louise, and I am a third semester multimedia design student at
      Copenhagen school of design and technology (KEA). I am originally from
      Oslo, Norway. My biggest strengths are UX/UI design, as well as HTML and
      CSS. I am also interested in illustration and art, which is the reason why
      i want to work with design.
    </p>
  </section>
  <Banner text="Projects" />
  <section>
    <p>skriv om tidligere prosjekter</p>
  </section>
  <Banner text="Skills" />
  <section>
    <p>skriv om primære ferdigheter</p>
  </section>
  <Banner text="Contact" />
  <section id="contact" class="border-b border-red-800">
    <p>
      <a
        href="https://www.linkedin.com/in/louise-standal-geers-a84a45289/"
        class="no-underline hover:italic"
        target="_blank">LinkedIn</a
      >
    </p>
    <p>
      <a
        href="https://dribbble.com/louisegeers"
        class="no-underline hover:italic"
        target="_blank">Dribbble</a
      >
    </p>
    <p>
      <a
        href="https://www.instagram.com/louisesgeers/"
        class="no-underline hover:italic"
        target="_blank">Instagram</a
      >
    </p>
    <p>
      <a
        class="no-underline hover:italic"
        href="mailto:louisesgeers@outlook.com">louisesgeers@outlook.com</a
      >
    </p>
  </section>
</MainLayout>
<article>
  <Image src={thumbsup} alt="" />
</article>
