---
const { text = "bannertext" } = Astro.props;
---

<section class="font-baskerville text-2xl lowercase border-b border-red-800">
  <article class="">
    <span>
      {text}
    </span>
  </article>
</section>
