---

---

<section
  class="md:fixed md:bottom-0 right-0 lowercase font-baskerville text-2xl m-4 bg-transparent hover:underline"
>
  <a
    class="bg-transparent"
    href="mailto:louisesgeers@outlook.com"
    target="_blank">louisesgeers@outlook.com</a
  >
</section>
